- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2= link_to restaurant.name, restaurant_path(restaurant)
    = image_tag restaurant.image.url(:medium)
    %h4= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)

    -if current_user && current_user.id == restaurant.user_id
      %h4= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete

    %h4= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
    %h3
      Review for
      = restaurant.name

    - if restaurant.reviews.any?
      %ul
        - restaurant.reviews.each do |review|
          %li
            #{review.thoughts} Average rating: #{star_rating(restaurant.average_rating)}
            = link_to "Endorse", review_endorsements_path(review), class: 'endorsements-link'
            %span.endorsements_count= review.endorsements.count
            = 'Endorsement'.pluralize review.endorsements.count
            %strong= review.rating
            \/5
            = link_to "Delete Review", restaurant_reviews_path(restaurant, review), method: :delete
    - else
      %p No reviews
    %h3= "Average rating: #{star_rating(restaurant.average_rating)}"

- else
  No restaurants yet!

- if current_user
  %h4= link_to "Add a restaurant", new_user_restaurant_path(current_user.id)
  / %a(href= new_restaurant_path(current_user)) Add a restaurant
